<div id="mySidenav" class="sidenav">


    <div class="grid-container">
      <div class="fixed-containment"    style='position: fixed'> 
      <div class="grid-item">1</div>
      <div class="grid-item">2</div>
      <div class="grid-item">3</div>  
      <div class="grid-item">4</div>
      <div class="grid-item">5</div>
      <div class="grid-item">6</div>  
      <div class="grid-item">7</div>
      <div class="grid-item">8</div>
      <div class="grid-item">9</div>  
      <div class="grid-item">10</div> 
      <div class="grid-item">11</div> 
      <div class="grid-item">12</div> 
      <div class="grid-item">13</div> 
      <div class="grid-item">14</div> 
      <div class="grid-item">15</div> 
    </div>
     
      
    </div>
  
  
    
  <!-- 
  
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>
    <div class="popover__wrapper">
      <a href="#">
  
        <button class="popover__title">
          <img id="fill" src="assets/icons/paint-bucket-fill.svg" />
         
          <div class="popover__title_triangle"></div>
        </button>
      </a>
      <button class="popover__content">
        <p class="popover__message">
          <app-color-picker></app-color-picker>
        </p>
  
      </button>
    </div>
  
    <div class="popover__wrapper2">
      <a href="#">
  
        <button class="popover__title2">
          <img id="fill2" src="assets/icons/fonts.svg" />
         
          <div class="popover__title_triangle2"></div>
        </button>
      </a>
      <button class="popover__content2">
        <p class="popover__message2">
          <app-font-picker></app-font-picker>
        </p>
  
      </button>
    </div> -->
  
  
    <!-- <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a> -->
  </div>