
.sidenav {
    height: 100%;
    width: 50px;
  float: left;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #444444;
    /* overflow-x: hidden; */
    transition: 0.5s;
  
  }



  .adjustment-wedge{
    width: 50px;
    margin-top: 55px;
   
}

  .background-fill_button {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    /* color: rgb(228, 68, 68); */
    background-color: #444;
    /* padding: 25px 0; */
    width: 50px;
     height: 50px;  
    
    margin-top: 0px;

  }



  .floppy-disc_button {
    font-size: 24px;
    line-height: 36px;
    text-decoration: none;
    /* color: rgb(228, 68, 68); */
    background-color: #444;
    /* padding: 25px 0; */
    width: 50px;
     height: 50px;  
    
    margin-top: 0px;
   

  }
 
 
  .card {
    width: 348px;
  }
 
    app-data-form{
  margin-top: -100px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
   
   
    margin-top: -60px;
  }
  .grid-item {
 
   background-color: #444;
    height: 50px;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
   
  }

 

  .sshow:before {
    position: absolute;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: 80px;
    left: -25px;
    margin-top:  25px;
    border-style: solid;
    border-width: 0 20px 20px 20px;
    border-color:  transparent  #444 transparent  transparent  ;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: rotate(225deg);
   
  }  

 dialog::backdrop{
     
    background: rgba(0, 0, 0, 0.5);
 
 }
 
  .sshow {
     
      display: block;
      margin-left: 75px;
      margin-top: -100px;
      width: 200px;
      height: 150px;
      background-color: bisque;
   
      /* z-index: -4; */
      font-size: 15px;
    
      visibility: visible;
      transform: translate(0, -20px);
      /* transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97); */
      /* transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946); */

      /* transition: all 1s cubic-bezier(0.75, -0.02, 0.2, 0.97); */
      /* opacity: 1; */

 
      /* -webkit-animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        */
  }

  /* @-webkit-keyframes scale-in-left {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 1;
    }
  }
  @keyframes scale-in-left {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      opacity: 1;
    }
  } */
 


 
 
   






.active{
  height: 25;
}









 

  /* ----------------------------------------------
 * Generated by Animista on 2022-8-12 19:43:26
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-bl
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-left {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    opacity: 1;
  }
}