.cover-over{
    z-index: 4;
    position: absolute;
    overflow: hidden;
 
    height: 50px;
    /* margin-top: -10px; */
    background-color:transparent;
    /* margin-left: 150px; */
    /* border: 1px solid  #9c9c9c; */
    /* border-radius: 50%; */
/*     
    box-shadow: 0px 0px 2px 2px rgb(237, 237, 237)    */
 
}

.cover-over:focus{
 
    border: 1px solid yellowgreen;  
 
}


.gesture__zone {
    /* background-color: #efefef; */
    /* padding: 1.5rem; */
    padding-left: 1.5rem;
    
    border-radius: 3px;
    height: 10rem;
    width:20rem;
     margin-left: -50px; 
    text-align: center;
    overflow: hidden;
    position:relative;
  }
 


  .item
  {
      font-family: 'Times New Roman';
    padding:.5rem 0;
    opacity:.3;
    display:block;
    margin:0 auto;
    width:40px;
    /* background-color:white; */
    margin-bottom: 20px;
    margin-top:5px; 
    float: left;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer; 

    
  }

  .item:hover
  {
 border: 1px yellowgreen solid;
 border-radius: 50%;

    
  }

 
  .item.selected
  {
    opacity:1;
     /* font-size: 30px;  */
   margin-top:-15px; 
   font-size: 40px;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;

   animation: myanim 250ms;

 
  }

  @keyframes myanim {
    0% {
        margin-top:20px; 
       font-size: 12px;
    }

    100% {
        
        font-size: 40px;
     }
 }

  .dragZone
  {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:transparent;
  }
  


   
/*  -- orignal --
  .item
  {
    padding:.5rem 0;
    opacity:.3;
    display:block;
    margin:0 auto;
    width:3rem;
    background-color:white;
    margin-bottom: 20px;
    float: left;
  } */
